@mixin mb($mb) {
    @if $mb == mobile {
        @media only screen and (max-width: 950px) {
            @content;
        }
    }
}
@mixin hover {
    @media (hover: hover) and (pointer: fine) {
        @content;
    }
}
.payments_container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: clamp(950px, 95%, 1600px);
    margin: auto;
}
.payments_balance{
    font-size: 22px;
}
.payments_list_block{
    &>li{
        display: grid;
        grid-template-columns: 80px 100px 250px auto;
        column-gap: 15px;
        margin: 10px 0;
        padding: 10px 0;
        border-bottom: solid 1px #000;
        align-items: center;
    }
}
.expenses_block{
    width: 100%;
    margin-top: 30px;
    h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    @include mb(mobile) {
        width: 100%;
    }
}
.expenses_element_block{
    display: flex;
    column-gap: 25px;
    &>div{
        min-width: 200px;
    }
    @include mb(mobile) {
        flex-direction: column;
        row-gap: 5px;
        &>div{
            min-width: auto;
        }
    }
}

.expenses_modal_cont {
    width: 500px;
    left: calc((100vw - 500px) / 2);
}

.expenses_button {
    padding: 10px 20px;
    width: 25%;
}

.expenses_modal_body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    &>div{
        display: flex;
        flex-direction: column;
        &>input{
            width: 300px;
        }
        &>textarea {
            height: 120px;
        }
    }
}

.expenses_element{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    min-height: 30px;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-border);
}
.brand_modal_body {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    padding: 15px;
}
.brand_modal_container {
    width: 400px;
    left: calc((100vw - 400px) / 2);
}
.brand_modal_footer {
    display: flex;
    padding: 15px;
    column-gap: 20px;
    justify-content: space-between;

    button {
        padding: 5px;
        width: 50%;
    }
}
.brand_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    button {
        width: 50%;
    }
}

.brand_element {
    display: flex;
    border-bottom: 1px solid var(--color-border);
    padding: 10px;
    column-gap: 15px;
    justify-content: space-between;
    .bold{
        font-weight: bold;
    }
}